/* light theme */
body.light-theme {
    background-color: #e4e4e4;
    color: #000;
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}

.header {
    position: relative;
    text-align: center;
}

h1 {  
    margin: 0;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
}

.theme-toggle {
    font-size: 24px;
    position: absolute;
    cursor: pointer;
    top: -30px;
    right: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

p {
    font-size: 1.2rem;
}

textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1em;
    margin-bottom: 10px;
    resize: none;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn-count {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

.btn-count:hover {
    background-color: #21b641;
}

.btn-reset {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
}

.btn-reset:hover {
    background-color: darkred;
}

#show {
    font-weight: bold;
    color: #007bff;
}

.stats-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    max-width: 400px;
    border-radius: 5px;
}

.stats-container p {
    margin: 5px 0;
    font-size: 16px;
    color: #000;
}

@media (max-width: 600px) {
    textarea {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 15px;
    }
}